.git
.gitignore
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.env
.devcontainer
.idea
.vscode
frontend/node_modules
frontend/dist
repos/*
!repos/.gitkeep
vectorstore/*
!vectorstore/.gitkeep
app_database.db
users.db
chat_history.db
activities.db
*.log
