fastapi>=0.110.0
uvicorn>=0.28.0
pydantic>=2.6.0
python-multipart>=0.0.9
python-jose>=3.3.0
passlib>=1.7.4
bcrypt>=4.0.1
mysql-connector-python>=8.0.30
pymysql>=1.1.0
cryptography>=41.0.0
langchain>=0.2.0
langchain-groq>=0.1.6
langchain-community>=0.2.0
langchain-huggingface>=0.0.3
langchain-text-splitters>=0.2.0
faiss-cpu>=1.8.0
gitpython>=3.1.43
python-dotenv>=1.0.1
sentence-transformers>=3.0.0
tiktoken>=0.7.0
pygments>=2.18.0
torch>=2.2.0
diagrams>=0.25.1
graphviz>=0.20.3

